<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brokers</title>
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id=container>
        <div id="home">
            <a id="home" href="/" class="row" >
                <img id="chaplogo" src="chaplogo.png" alt="chap logo" class="col-sm-4">
                <h1 class="col">Chap Corporation</h1>
            </a>
        </div>
        <nav class="navbar navbar-expand-sm row">
              <ul class="navbar-nav">
                <li class="nav-item col">
                  <a class="nav-link" href="/traders">Traders</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/brokers">Brokers</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/managers">Managers</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/securities">Securities</a>
                 </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/fills">Fills</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/trades">Trades</a>
                </li>
              </ul>
          </nav>
    <div class="container mt-3">
        <div><a><h2>Brokers</h2></a></div>
        <table id="brokersTable" class="table table-bordered">
        <thead>
            <tr>
                {{!-- <th>Broker ID</th>
                <th>Broker Name</th>
                <th>Broker Street Address</th>
                <th>Broker City</th>
                <th>Broker State</th>
                <th>Broker Zip Code</th> --}}
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input type="text" id="brokerIdInput" onkeyup="brokerIdSearch()" placeholder="Search for broker ID..." title="Type in a broker ID"></th>
                <th><input type="text" id="brokerNameInput" onkeyup="brokerNameSearch()" placeholder="Search for broker name..." title="Type in a broker name"></th>
                <th><input type="text" id="brokerStreetAddressInput" onkeyup="brokerStreetAddressSearch()" placeholder="Search for broker street address..." title="Type in a broker street address"></th>

                <th><input type="text" id="brokerCityInput" onkeyup="brokerCitySearch()" placeholder="Search for broker city..." title="Type in a broker city"></th>
                <th><input type="text" id="brokerStateInput" onkeyup="brokerStateSearch()" placeholder="Search for broker state..." title="Type in a broker state"></th>
                <th><input type="text" id="brokerZipCodeInput" onkeyup="brokerZipCodeSearch()" placeholder="Search for broker zip code..." title="Type in a broker zip code"></th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{this.BrokerID}}</td>
                <td>{{this.BrokerName}}</td>
                <td>{{this.BrokerStreetAddress}}</td>
                <td>{{this.BrokerCity}}</td>
                <td>{{this.BrokerState}}</td>
                <td>{{this.BrokerZipCode}}</td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
    <div id="form">
        <div class="container mt-3" id="form">
            <h3>Add Broker</h3>
            <form id="add-broker-form" method="POST" action="/insert-broker">
              <div class="form-group">
                <label for="BrokerID">Broker ID</label>
                <input name="BrokerID" type="text" class="form-control" id="BrokerID" placeholder="Enter Broker ID">
              </div>
              <div class="form-group">
                <label for="BrokerName">Broker Name</label>
                <input name="BrokerName" type="text" class="form-control" id="BrokerName" placeholder="Enter Broker Name">
              </div>
              <div class="form-group">
                <label for="BrokerStreetAddress">Broker Street Address</label>
                <input name="BrokerStreetAddress" type="text" class="form-control" id="BrokerStreetAddress" placeholder="Enter Broker Street Address">
              </div>
              <div class="form-group">
                <label for="BrokerCity">Broker City</label>
                <input name="BrokerCity" type="text" class="form-control" id="BrokerCity" placeholder="Enter Broker City">
              </div>
              <div class="form-group">
                <label for="BrokerState">Broker State</label>
                <input name="BrokerState" type="text" class="form-control" id="BrokerState" placeholder="Enter Broker State">
              </div>
              <div class="form-group">
                <label for="BrokerZipCode">Broker Zip Code</label>
                <input name="BrokerZipCode" type="text" class="form-control" id="BrokerZipCode" placeholder="Enter Broker Zip Code">
              </div>
              <button type="submit" class="btn btn-primary">Add Broker</button>
            </form>
        </div>
        <div class="container mt-3" id="form">
            <h3>Delete Broker</h3>
            <form id="delete-broker-form" method="DELETE" action="/delete-broker">
                <div class="form-group">
                <label for="BrokerID">Trader ID</label>
                <input name="BrokerID" type="text" class="form-control" id="BrokerID" placeholder="Enter Broker ID" required>
                </div>
                <button type="submit" class="btn btn-primary">Delete Broker</button>
            </form>
        </div>
    </div>
    </div>

    <script type = "text/javascript" src="SearchFunctions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {{!-- <script>
        $(document).ready(function(){
            $(".add-row").click(function(){
                var brokerID = $("#brokerID").val();
                var brokerName = $("#name").val();
                var brokerStreetAddress = $("#streetAddress").val();
                var brokerCity = $("#city").val();
                var brokerState = $("#state").val();
                var brokerZipCode = $("#zipCode").val();
                var markup = "<tr><td>" + brokerID + "</td><td>" + brokerName + "</td><td>" + brokerStreetAddress + "</td><td>" + brokerCity + "</td><td>" + brokerState + "</td><td>" + brokerZipCode + "</td></tr>";
                $("table tbody").append(markup);
            });
            
            // Find and remove selected table rows
            $(".delete-row").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        $(this).parents("tr").remove();
                    }
                });
            });
        });    
    </script> --}}
</body>
</html>