<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fills</title>
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="home">
            <a id="home" href="/" class="row" >
                <img id="chaplogo" src="chaplogo.png" alt="chap logo" class="col-sm-4">
                <h1 class="col">Chap Corporation</h1>
            </a>
        </div>
        <nav class="navbar navbar-expand-sm row">
              <ul class="navbar-nav">
                <li class="nav-item col">
                  <a class="nav-link" href="/traders">Traders</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/brokers">Brokers</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/managers">Managers</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/securities">Securities</a>
                 </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/fills">Fills</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/trades">Trades</a>
                </li>
              </ul>
          </nav>

      </div>
      
    <div class="container mt-3"> 
        <div><a><h2>Fills</h2></a></div>
        <table id="tradersTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Fill ID</th>
                    <th>Trade ID</th>
                    <th>Security Symbol</th>
                    <th>Amount</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each Fill}}
                <tr>
                    <td>{{FillID}}</td>
                    <td>{{TradeID}}</td>
                    <td>{{SecuritySymbol}}</td>
                    <td>{{Amount}}</td>
                    <td>{{Time}}</td>
                    <td>{{Date}}</td>
                    <td>
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div>
        <div class="container mt-3" id="form">
            <h3>Add Fill</h3>
            <form >
                <div class="mb-3 mt-3">
                  <label for="FillID">Fill ID</label>
                  <input type="fillID" class="form-control" id="fillID" placeholder="Enter Fill ID">
                </div>
                <div class="mb-3">
                  <label for="TradeID">Trade ID</label>
                  <input type="tradeID" class="form-control" id="tradeID" placeholder="Enter Trade ID">
                </div>
                <div class="mb-3">
                  <label for="securitySymbol">Security Symbol</label>
                  <input type="securitySymbol" class="form-control" id="securitySymbol" placeholder="Enter Security Symbol">
                </div>
                <div class="mb-3">
                    <label for="amount">Amount</label>
                    <input type="amount" class="form-control" id="amount" placeholder="Enter Amount">
                </div>
                <div class="mb-3">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" id="time" placeholder="Enter Time">
                </div>
                <div class="mb-3">
                    <label for="Date">Date</label>
                    <input type="date" class="form-control" id="datel" placeholder="Enter Date">
                </div>
                <input type="button" class="add-row" value="Add Row">
              </form>
        </div>
    </div>
   
</body>