<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traders</title>
    <link rel="stylesheet" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="home">
            <a id="home" href="/" class="row" >
                <img id="chaplogo" src="chaplogo.png" alt="chap logo" class="col-sm-4">
                <h1 class="col">Chap Corporation</h1>
            </a>
        </div>
        <nav class="navbar navbar-expand-sm row">
              <ul class="navbar-nav">
                <li class="nav-item col">
                  <a class="nav-link" href="/traders">Traders</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/brokers">Brokers</a>
                </li>
                <li class="nav-item col">
                  <a class="nav-link" href="/managers">Managers</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/securities">Securities</a>
                 </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/fills">Fills</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="/trades">Trades</a>
                </li>
              </ul>
          </nav>

        <div class="container mt-3">
            <div><a><h2>Traders</h2></a></div>
            <table id="tradersTable" class="table table-bordered">
                <thead>
                    <tr>
                        {{!-- <th>Trader ID</th>
                        <th>Trader First Name</th>
                        <th>Trader Last Name</th> --}}
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <input type="text" id="traderIdInput" onkeyup="traderIdSearch()" placeholder="Search for trader ID..." title="Type in a trader ID">
                        </th>
                        <th>
                            <input type="text" id="traderFirstNameInput" onkeyup="traderFirstNameSearch()" placeholder="Search for trader first name..." title="Type in a trader first name">
                        </th>
                        <th>
                            <input type="text" id="traderLastNameInput" onkeyup="traderLastNameSearch()" placeholder="Search for trader last name..." title="Type in a trader last name">
                        </th>
                    </tr>
                    {{#each data}}
                    <tr>
                        <td scope="row">{{this.TraderID}}</td>
                        <td>{{this.TraderFirstName}}</td>
                        <td>{{this.TraderLastName}}</td>
                        <td>
                            <form action="/delete-trader">
                                <button type="submit">Delete</button>
                                <input type="hidden" name="table" value="Traders">
                                <input type="hidden" name="page" value="traders">
                                <input type="hidden" name="id" value={{this.TraderID}}>
                            </form>
                        </td>
                        <td>
                            {{!-- <button onclick="/traders/{{TraderID}}" type="submit" class="btn btn-warning">Edit</button> --}}
                            <a href="traders/{{TraderID}}">Edit</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="container mt-3" id="form">
            <h3>Add Trader</h3>
            <form id="add-trader-form" method="GET" action="/insert-trader">
            <div class="form-group">
                <label for="TraderID">Trader ID</label>
                <input name="TraderID" type="text" class="form-control" id="TraderID" placeholder="Enter Trader ID" required>
            </div>
            <div class="form-group">
                <label for="TraderFirstName">Trader First Name</label>
                <input name="TraderFirstName" type="text" class="form-control" id="TraderFirstName" placeholder="Enter Trader First Name" required>
            </div>
            <div class="form-group">
                <label for="TraderLastName">Trader Last Name</label>
                <input name="TraderLastName" type="text" class="form-control" id="TraderLastName" placeholder="Enter Trader Last Name" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Trader</button>
            </form>
        </div>


    </div>

    <script type = "text/javascript" src="js/SearchFunctions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {{!-- <script>
        $(document).ready(function(){
            $(".add-row").click(function(){
                var traderID = $("#traderID").val();
                var traderFirstName = $("#firstName").val();
                var traderLastName = $("#lastName").val();
                var markup = "<tr><td>" + traderID + "</td><td>" + traderFirstName + "</td><td>" + traderLastName + "</td></tr>";
                $("table tbody").append(markup);
            });
            
            // Find and remove selected table rows
            $(".delete-row").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        $(this).parents("tr").remove();
                    }
                });
            });
        });    
    </script> --}}
</body>
</html>